version: '3.9'
services:

  #PHP Service
  app:
    build:
      context: .
      dockerfile: ./.docker/Dockerfile
    image: php-fpm
    container_name: ${APP_NAME}-php-fpm
    restart: unless-stopped
    tty: true
    environment:
      SERVICE_NAME: php-fpm
      SERVICE_TAGS: dev
    working_dir: /var/www
    volumes:
      - ./src:/var/www
      - ./.docker/php/local.ini:/usr/local/etc/php/conf.d/local.ini
    networks:
      - app-network

  #Nginx Service
  webserver:
    image: nginx:alpine
    container_name: ${APP_NAME}-nginx
    restart: unless-stopped
    tty: true
    ports:
      - "8080:80"
      - "443:443"
    volumes:
      - ./:/var/www
      - ./.docker/nginx/conf.d/:/etc/nginx/conf.d/
    networks:
      - app-network

  #mySQL Service
  mysql:
    image: mariadb:10.6
    container_name: ${APP_NAME}-mysql
    restart: always
    environment:
      - MYSQL_DATABASE=payment
      - MYSQL_USER=root
      - MYSQL_PASSWORD=123
      - MYSQL_ROOT_PASSWORD=123
      - TZ=Asia/Dhaka
    volumes:
      - ./docker/mysql:/docker-entrypoint-initdb.d
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin
    container_name: ${APP_NAME}-phpmyadmin
    restart: always
    depends_on:
      - mysql
    ports:
      - 8083:80
    environment:
      PMA_HOST: mysql
      UPLOAD_LIMIT: 100000000 # 100 MB (in decimal)
    networks:
      - app-network
      
    # image: mysql:5.7
    # container_name: ${APP_NAME}-db
    # restart: unless-stopped
    # tty: true
    # ports:
    #   - "3308:3306"
    # environment:
    #   - MYSQL_DATABASE=payment
    #   - MYSQL_USER=root
    #   - MYSQL_PASSWORD=123
    #   - MYSQL_ROOT_PASSWORD=123
    #   - TZ=Asia/Dhaka
    # volumes:
    #   - ./docker/mysql:/docker-entrypoint-initdb.d
    # networks:
    #   - app-network

#Docker Networks
networks:
  app-network:
    driver: bridge
volumes:
  dbdata:
    driver: local